@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url(/css/normalize.css);

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

/* HEADER STYLE START */

.site__header {
  padding: 30px 0;
}

.container {
  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  width: 463px;
}

.header__nav-list {
  display: flex;
  justify-content: space-between;
  width: 270px;
}

.header__nav-link {
  font-size: 15px;
  line-height: 22.5px;
  color: #333333;
}

.header__ask {
  font-size: 15px;
  line-height: 22.5px;
  color: #666666;
  border-bottom: 1px solid #333333;
}

/* HEADER STYLE FINISHED */

/* HERO STYLE START */

.hero__section {
  padding-top: 140.46px;
  background-image: url(/images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: 587px 565px;
  background-position: right bottom;
  border-bottom: 2px solid #dddddd;
  padding-bottom: 185px;
}

.hero__section-title {
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  color: #000000;
  margin-bottom: 30px;
}

.hero__section-desc {
  width: 450px;
  font-size: 16px;
  line-height: 24px;
  color: #777777;
  border-left: 3px solid #777777;
  margin-bottom: 30px;
  padding-left: 40px;
}

.hero__section-btn {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  padding: 12px 38.5px;
  text-transform: uppercase;
  color: #ffffff;
  background: #ea625c;
}

/* HERO STYLE FINISHED */





/* INFO STYLE START */

.info__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 68px;
}

.info__card-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 30px;
}

.info__card-desc {
  width: 275px;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 20px;
}

.info__card-point {
  width: 8px;
  height: 8px;
  background-color: #dddddd;
  box-shadow: 18px 0px 0px 0.3px #dddddd, 36px 0px 0px 0.3px #dddddd;
}

.info__card-btn{
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 25.6px;
  text-transform: uppercase;
  color: #EA625C;
}

.info__card-btn::before{
  content: "";
  display: inline-block;
  width: 40px;
  height: 3px;
  margin-right: 10px;
  background-color: #EA625C;
}

/* INFO STYLE FINISHED */





/* PRODUCT STYLE FINISHED */

.product__wrapper{
  padding-top: 246px;
  padding-bottom: 176px;
  background-image: url(/images/product-bg.jpg);
  background-repeat: no-repeat;
  background-size: 400px 600px;
  background-position: right center;
}

.product__section-title{
  width: 380px;
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  color: #000000;
  margin-bottom: 30px;
}

.product__section-desc{
  width: 450px;
  font-size: 16px;
  line-height: 24px;
  color: #777777;
  border-left: 3px solid #888888;
  padding-left: 40px;
  margin-bottom: 30px;
}

.product__section-btn{
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 12px 90px;
  color: #FFFFFF;
  background-color: #EA625C;
}

/* PRODUCT STYLE FINISHED */